= "Caro(a) #{@registration.name},"

%p
  Conforme e-mail enviado no dia 31/08, entitulado <b>"ATENÇÃO: Alteração de painéis e ajustes nas participações"</b>, você teve sua inscrição corrigida, seguindo as recomendações enviadas pela Secretaria de Educação no dia 11 de agosto de 2011, lembrando que os funcionários da rede, só poderão participar do evento no seu horário de trabalho. Caso tenha interesse em participar do evento fora do seu horário de trabalho, você deverá realizar uma segunda inscrição como Público Geral e efetuar o pagamento da taxa de inscrição.

%p
  Sua situação cadastral no evento é a seguinte:
  %br
  %br
  - @activities.each do |a|
    = "Atividades da <b>#{a.first.first}</b>:".html_safe
    %ul
      - activities = Activity.find_all_by_day_and_selected(a.first.last, nil)
      - activities.each do |activity|
        %li
          - if activity.end_at.nil?
            = "#{activity.name} (#{activity.start_at.strftime('%H:%M')})"
          - else
            = "#{activity.name} (#{activity.start_at.strftime('%H:%M')} - #{activity.end_at.strftime('%H:%M')})"
  %br
  - if @registration.activities.count > 0 
    %b Paíneis em que está inscrito(a)
    %ul{:style => 'padding-left: 20px'}
      - @registration.activities.each do |a|
        %li
          - if a.end_at.nil?   
            = "#{a.name} (#{a.start_at.strftime('%H:%M')})"
          - else
            = "#{a.name} (#{a.start_at.strftime('%H:%M')} - #{a.end_at.strftime('%H:%M')})"

%p
  Destacamos que, caso o seu período de trabalho esteja errado, você deverá solicitar ao/a Diretor(a) da unidade educacional onde atua, que informe ao Instituto Paulo Freire, pelo telefone 3021-5536 com o Henrique, o horário correto.

%p
  Certos de contar com a compreensão e colaboração de todos e todas,

%p
  Organização do II Encontro Internacional de Educação de Osasco