= "Sr(a) #{@registration.name},"
%p
  Sua inscrição para o "Paulo Freire 90 anos" foi realizada com sucesso!
%p
  Seguem as informações referentes ao seu cadastro:
%ul
  %li
    %b Código da inscrição: 
    = @registration.id
  %li
    %b Nome Completo:
    = @registration.name
  %li 
    %b Nome para Credencial:
    = @registration.credential_name
  %li
    %b CPF:
    = @registration.cpf
  %li
    %b Fone Residencial:
    = @registration.phone
  %li
    %b Celular:
    = @registration.mobile
  %li
    %b E-mail:
    = @registration.email
  %li
    %b Forma de participação:
    = @registration.participation_type_to_s
  %li
    %b Possui alguma deficiência?
    = @registration.disabilities_to_s
%p
  Instituto Paulo Freire
%p
  %i Esse é um e-mail automático, não há necessidade de respondê-lo.
