%table.table.grid
  %thead
    %tr
      %th
        = I18n.t('user.username')
      %th
        = I18n.t('user.email')
      %th
      %th
  %tbody  
    - for user in @users
      %tr
        %td
          = user.username
        %td
          = user.email
        %td= link_to t('edit'), edit_user_path(user)