%h2 Por favor, atualize as seguintes informações da sua inscrição.
#custom_form
  #form
    = semantic_form_for @registration do |f|
      - if @registration.errors.any?
        #error_explanation
          %ul
            - @registration.errors.full_messages.each do |msg|
              %li= msg
      .field
        Forma de participação:
        = f.radio_button(:participation_type, 0)
        Presencial
        = f.radio_button(:participation_type, 1)
        A distância
      - f.fields_for :participations do |builder|
        = render "participation_fields", :f => builder
      .field
        = f.input :participation, :as => :select, :collection => Registration::PARTICIPATIONS, :prompt => t('select')
        = hidden_field_tag :update_new_data, nil, :value => true
      .actions
        = f.submit t('update')
.clearfix
