.white-box-top
.white-box-container
  .content
    .links
      .button_div{:style => 'width: 140px;'}
        = link_to "Inscrições", registrations_path
      .button_div{:style => 'width: 150px;'}
        = link_to "Trabalhos Enviados", papers_path
    %br
    %br
    %br
    .left_panel
      .stats_div
        Total de inscrições
        %span
          = @total_registrations
      .stats_div        
        Presencial
        %span
          = @total_presencial
      .stats_div        
        A distância
        %span
          = @total_remote
    .right_panel

      .stats_div
        Total de trabalhos enviados
        %span
          = @total_papers
    %br
    .dot_border
    %br
    %h2 Detalhamento da participação dos inscritos
    %br
      - @activities_data.each do |a|
        .stats_div
          - if a[:name] == "Não participarei no período da manhã"
            %i= "Não participará no período da manhã"
          - else
            %i= a[:name]
          %br
          .second_nivel
            Total de inscritos presencial
            %span
              = a[:total_presencial]
          .second_nivel
            Total de inscritos à distância
            %span
              = a[:total_remote]

  .clearfix

.white-box-bot



