.white-box-top
.white-box-container
  .content
    .links
      .button_div{:style => 'width: 140px;'}
        = link_to "Inscrições da Rede", registrations_path
      .button_div{:style => 'width: 150px;'}
        = link_to "Trabalhos Enviados", papers_path
    %br
    %br
    %br
    .left_panel
      .stats_div
        Total de inscrições
        %span
          = @total_registrations
      .stats_div        
        Presencial
        %span
          = @total_presencial
      .stats_div        
        A distância
        %span
          = @total_remote
    .right_panel

      .stats_div
        Total de trabalhos enviados
        %span
          = @total_papers

  .clearfix

.white-box-bot



