#form
  #paper_form
    = semantic_form_for @paper, :html => { :multipart => true} do |f|
      -if @paper.errors.any?
        #error_explanation
          %ul
            - @paper.errors.full_messages.each do |msg|
              %li= msg
          %br
      .field
        = f.input :title
      .field
        = f.input :author
      .field
        = f.input :coauthor
      .field
        %div{:style => 'width: 400px;'}
          = f.label :resume
          %i{:style => 'float:left; padding-top:6px;'} (O resumo deve ter de 150 a 500 palavras)
        = f.text_area :resume, :cols => '55'
      .field
      = f.input :key_words
      .field
        = f.input :culture_circle, :as => :select, :collection => Paper::CULTURE_CIRCLES, :prompt => t('select')
      .field
        = f.input :artefact, :as => :file, :required => true
      = f.input :registration_id, :value => @registration.id, :as => :hidden
      = f.submit t('send')

