%p#notice= notice

%p
  %b Atividade:
  = @paper.activity.name
%p
  %b Usuário:
  = @paper.registration.name
%p
  %b Tipo do Trabalho:
  = @paper.paper_type
%p
  %b Título:
  = @paper.title
%p
  %b Arquivo:
  = @paper.file
%p
  %b Observações:
  = @paper.observation

